/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * essential-pragmatapro:
 *   - http://typekit.com/eulas/00000000000000007735cc65
 *   - http://typekit.com/eulas/00000000000000007735cc61
 * flyswim:
 *   - http://typekit.com/eulas/000000000000000077359599
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-07-28 15:18:24 UTC"}*/

@import url("p.css");

@font-face {
font-family:"flyswim";
src:url("af/846e50/000000000000000077359599/30/l") format("woff2"),url("af/846e50/000000000000000077359599/30/d") format("woff"),url("af/846e50/000000000000000077359599/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"essential-pragmatapro";
src:url("af/a0f2b5/00000000000000007735cc65/30/l") format("woff2"),url("af/a0f2b5/00000000000000007735cc65/30/d") format("woff"),url("af/a0f2b5/00000000000000007735cc65/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"essential-pragmatapro";
src:url("af/6b50ab/00000000000000007735cc61/30/l") format("woff2"),url("af/6b50ab/00000000000000007735cc61/30/d") format("woff"),url("af/6b50ab/00000000000000007735cc61/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-flyswim { font-family: "flyswim",sans-serif; }
.tk-essential-pragmatapro { font-family: "essential-pragmatapro",sans-serif; }
